body {
  margin: 0px; }

header {
  display: block;
  width: 100%;
  background-color: #2b2a29;
  border: 1px solid #2b2a29; }

.header-logo {
  background-image: url("images/logo.png");
  width: 300px;
  height: 300px; }

.header-logo-h {
  margin: 0px; }

nav {
  background-color: #2b2a29;
  margin: 0px;
  border: 1px solid #2b2a29; }

ul {
  margin: 15px 0px; }

li {
  display: inline;
  margin-right: 20px; }

.second-block {
  border: 0px solid #2b2a29;
  background: url("/images/patern.png") repeat; }
